*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

.cleaner{
    clear: both;
}

.header{
    height: 100px;
    padding: 0px 200px;
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: space-between;
}

.head-left{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img{
    width: 100px;
}

.nav{
    list-style-type: none;
}

.nav li{
    display: inline;
    margin: 0px 5px;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-size: 20px;
}

.head-right{
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    font-size: 20px;
}

.active {
    font-weight: bold;
}

#hero {
    background-image: url("../img/heroImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    position: relative; 
    overflow: hidden;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index: 1;
}

#sectionNav{
    list-style-type: none;
    position: relative;
    z-index: 2;
    top: 200px;
    left: 193px;
}

#sectionNav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 96px;
}

.headingSection{
    margin: 85px 0px;
}

.heading{
    font-weight: normal;
    text-align: center;
    margin: 10px 0px;
    font-size: 80px;
}

.subheading{
    text-align: center;
    margin: 5px 500px;
}

#regionRooms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 70px 0px;
    padding: 0px 200px;
}

.RoomContainer{
    height: fit-content;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: transform 0.5s ease;
}

.RoomContainer:hover{
    transform: scale(1.05);
}

.RoomContainer img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 12px;
}

.RoomContainer h3{
    margin: 10px;
    font-size: 28px;
    font-weight: normal;
}

.RoomContainer p{
    margin: 10px;
}

.spanClass{
    margin: 3px 10px 3px 0px;
    font-size: 24px;
}

.infoText{
    font-size: 20px;
    font-weight: normal;
}

.learnMore{
    text-decoration: underline;
    text-decoration-color: transparent;
    margin: 10px;
    color: #000000;
    transition: text-decoration-color 0.25s ease;
    display: flex;
    justify-content: end;
}

.learnMore:hover{
    text-decoration-color: #000000;
}

#gallerySection{
    display: grid;
    height: 920px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0px 0px;
    position: relative;
 }

 .imageSmall{
    overflow: hidden;
    position: relative;
 }

.imageSmall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
 }

.imageSmall img:hover{
    transform: scale(1.1);
 }

.imageBigLeft{
    position: relative;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-color: #202020;
    overflow: hidden;
}

.imageBigRight{
    position: relative;
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    background-color: #313131;  
    overflow: hidden;
}

.imageBigLeft img, .imageBigRight img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.imageBigLeft img:hover, .imageBigRight img:hover{
    transform: scale(1.1);
}

.imageText{
    position: absolute;
    max-width: fit-content;
    margin: 10px 20px;
    font-size: 32px;
    z-index: 2;
    font-weight: normal;
    color: #ffffff;
    bottom: 0;
    pointer-events: none;
}

#regionAmmenities{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 70px 0px;
    padding: 0px 200px;
    height: 600px;
}

.ammenitiesContainer{
    height: fit-content;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: transform 0.5s ease;
}

.ammenitiesContainer:hover{
    transform: scale(1.05);
}

.ammenitiesContainer img{
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 12px;
}

.ammenitiesContainer h3{
    margin: 10px;
    font-size: 28px;
    font-weight: normal;
}

.ammenitiesContainer hr{
    margin: 10px;
}

.ammenitiesContainer p{
    margin: 20px 10px 30px 10px;
}

.footer{
    padding: 0px 200px;
    height: 500px;
    margin: 10px 0px;
}

#footerSection{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    width: 100%;
}

.footerContainer{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerContainer img{
    max-width: 100%;
}

.address{
    font-size: 1.4em;    
    align-self: flex-start;
} 

#links, #sclMedia{
    list-style-type: none;
}

#links li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.4em;
}

#sclMedia{
    list-style-type: none;
}

#sclMedia li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.4em;
}

.sclMediaSpan{
    font-size: 40px;
}

#sclMedia li{
    display: inline;
}

#footerText{
    text-align: center;
    font-size: 128px;
}

#authorRegion, #roomRegion{
    padding: 80px 200px;
}

#leftAuthor{
    float:left;
    width: 50%;
}

#leftAuthor img{
    width: 80%;
    object-fit: cover;
    margin: 20px 0px;
    border-radius: 12px;
}

#authorText{
    margin: 20px 0px;
    width: 50%;
    float:right;
    font-size: 24px;
}

.leftRoom{
    float:left;
    width: 48%;
}

#rightRoom{
    float: right;
    width: 48%;
}

.leftRoom img, #rightRoom img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin: 20px 0px;
    border-radius: 12px;
}

.rightText{
    width: 48%;
    float: right;
    font-size: 1.25em;
    margin: 20px 0px;
}

#leftText{
    width: 48%;
    float: left;
    font-size: 1.25em;
    margin: 20px 0px;
}

.roomHeading{
    margin: 20px 0px;
}

.roomText{
    margin: 20px 0px;
}