*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    padding: 0px 150px;
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: space-between;
}

.head-left{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img{
    width: 100px;
}

.nav{
    list-style-type: none;
}

.nav li{
    display: inline;
    margin: 0px 5px;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-size: 20px;
}

.head-right{
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    font-size: 20px;
}

.active {
    font-weight: bold;
}

#hero {
    background-image: url("../img/heroImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    position: relative;
}

#overlay{
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: 50%;
}