*{
    margin: 0px;
    padding: 0px;
}

.cleaner{
    clear: both;
}

body{
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    padding: 0px 250px;
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: space-between;
}

.head-left{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo img{
    width: 100px;
}

.nav{
    list-style-type: none;
}

.nav li{
    display: inline;
    margin: 0px 5px;
}

.nav li a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    font-size: 20px;
}

.head-right{
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    font-size: 20px;
}

.active {
    font-weight: bold;
}

#hero {
    background-image: url("../img/heroImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 820px;
    position: relative; 
    overflow: hidden;
}

#overlay{
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
}

#sectionNav{
    list-style-type: none;
    position: relative;
    z-index: 1;
    top: 200px;
    left: 243px;
}

#sectionNav li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 96px;
}

.heading{
    font-weight: normal;
    text-align: center;
    margin: 20px 0px;
    font-size: 80px;
}

.subheading{
    text-align: center;
    margin: 5px 700px;
}

#regionRooms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px;
    padding: 0px 250px;
}

.RoomContainer{
    height: 560px;
    width: 430px;
    background-color: #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 12px;
}

.RoomContainer img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.RoomContainer h3{
    margin: 10px;
    font-size: 28px;
    font-weight: normal;
}

.RoomContainer p{
    margin: 10px;
}

.spanClass{
    margin: 3px 10px 3px 0px;
    font-size: 24px;
}

.infoText{
    font-size: 20px;
    font-weight: normal;
}

.learnMore{
    text-decoration: underline;
    text-decoration-color: transparent;
    margin: 10px;
    color: #000000;
    transition: text-decoration-color 0.25s ease;
    display: flex;
    justify-content: end;
}

.learnMore:hover{
    text-decoration-color: #000000;
}