*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f8f8f8;
}

.header{
    height: 100px;
    padding: 0px 150px;
    display: flex;
    background-color: #202020;
    align-items: center;
    justify-content: space-between;
}

.head-left{
    display: flex;
    gap: 20px;
}

.nav{
    list-style-type: none;
}

.nav li{
    display: inline;
    margin: 0px 5px;

}

.nav li a{
    text-decoration: none;
    color: #ffffff;    
    border: solid #ffffff 3px;
    padding: 16px;
}

.head-right{
    border: solid #ffffff 3px;
    text-decoration: none;
    padding: 16px;
    color: #ffffff;

}